<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>what</title>
	<link rel="icon" type="image/png" href="/favicon.png">
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/is.css">
	<script type="text/javascript" src="js/is.js"></script>
</head>
<body>
<header>
<div class="title">What.</div>
<nav><div class="label">About</div>
<ul>
<img src="img/me.jpg">
<li>Jonathan</li>
<li>21</li>
<li>Ann Arbor</li>
<li>Cambridge</li>
<li>NYC</li>
<div class="divider"></div>
<li>Code-monkeying</li>
<li>Words</li>
<li>Web Design</li>
<li>Pseudo-science</li>
<li>Music</li>
<li>Learning</li>
</ul>
</nav>
</header>
<div class="articlecontainer">
{{#each entries}}
<article>
	<h1>{{title}}</h1>
	<em class="date">{{formatDate created}}</em>
	{{{body}}}
</article>
{{/each}}
</div>
</body>
</html>