/* Pseudo */
.full-width, body, header::after, header::before, header {
  width: 100%; }

.full-height, body, header::after, header::before {
  height: 100%; }

.light-shadow, article, .endoftheroad, header nav {
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 0; }

/* My CSS */
article {
  width: 500px;
  font-size: 1.25em;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 25px;
  margin: 20px;
  margin-left: 0;
  color: #002347;
  font-family: 'Lato';
  font-weight: 300;
  line-height: 1.5em; }

.articlecontainer {
  width: 573px;
  min-height: 100%;
  position: absolute;
  right: 0;
  top: 0; }

article .date {
  font-size: 0.8em; }

article img {
  width: 480px;
  border: 10px solid white;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 3px 0; }

article h1 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

blockquote {
  border-left: 3px solid #002347;
  padding-left: 10px; }

body {
  background-color: #dedede;
  background-image: url("img/deer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  margin: 0;
  font-family: 'Lato';
  padding: 0;
  padding-bottom: 5px; }

.endoftheroad {
  display: none;
  width: 500px;
  color: #fff;
  height: 40px;
  line-height: 40px;
  font-size: 1.25em;
  padding: 0 25px;
  margin-bottom: 20px;
  margin-right: 20px;
  text-align: center;
  text-shadow: 1px 1px 1px #0b1e31;
  background-color: rgba(255, 255, 255, 0.4); }

header {
  font-weight: 100;
  position: fixed;
  top: 50px;
  height: 100px;
  background-color: transparent;
  transition: background-color .2s linear;
  text-shadow: 1px 1px 1px #0b1e31; }

header.hard {
  background-color: rgba(0, 51, 102, 0.8); }

header::after, header::before {
  height: 101px;
  content: '';
  position: absolute;
  left: 0; }

header::after {
  top: -1px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); }

header::before {
  top: -2px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3); }

header .title {
  padding-left: 40px;
  height: 100px;
  font-size: 4em;
  line-height: 100px;
  text-transform: lowercase; }

header nav {
  position: absolute;
  height: 30px;
  color: #fff;
  text-transform: uppercase;
  line-height: 30px;
  width: 125px;
  top: 126px;
  left: 0;
  transition: all .2s linear;
  text-align: center;
  overflow: hidden; }

header nav ul {
  position: absolute;
  top: 31px;
  list-style-type: none;
  transition: all .2s linear;
  opacity: 0;
  margin-top: 10px;
  padding-left: 0;
  width: 100%; }

header nav ul .divider {
  height: 1px;
  border-bottom: 1px solid rgba(40, 40, 40, 0.1);
  width: 100%; }

header nav ul img {
  border: 5px solid #fff;
  width: 100px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 0; }

header nav .label {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(40, 40, 40, 0.1); }

header nav:hover {
  background-color: rgba(0, 0, 0, 0.45);
  width: 200px;
  height: 500px; }

header nav:hover ul {
  left: 0;
  opacity: 1; }

@media (max-width: 590px) {
  .articlecontainer {
    width: 100%;
    padding-top: 80px; }
    .articlecontainer article {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      width: 100%; }
      .articlecontainer article img {
        width: 100%;
        border-width: 5px;
        margin-left: -5px; }

  header {
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: rgba(0, 51, 102, 0.8); }
    header nav {
      display: none; } }
html {
  height: 100%;
  margin: 0;
  padding: 0; }

.loadingspincircle {
  width: 24px;
  height: 24px;
  border-left: 2px solid #fff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  border-radius: 100%;
  animation: spin .6s linear infinite;
  -webkit-animation: spin .6s linear infinite; }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg); } }
