<head profile="http://www.w3.org/2005/10/profile" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#" id="jagthebeetle" itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% if page.title %}{{ page.title | escape }} | {% endif %}{{ site.title | escape }}</title>
	<base href="/">
	<link rel="icon" type="image/png" href="{{ '/assets/favicon.png' | prepend: site.url }}">
	<meta itemprop="name" content="jagthebeetle">
	<meta itemprop="logo" itemscope itemtype="https://schema.org/ImageObject" itemref="logo-url">
	<meta id="logo-url" itemprop="url" content="{{ '/assets/logo.png' | prepend: site.url }}">
	<meta property="og:site_name" content="{{ site.title | escape }}">
	<meta property="og:type" content="{% if page.excerpt %}article{% else %}website{% endif %}">
	<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<meta property="og:title" content="{% if page.title %}{{ page.title | escape }} | {% endif %}{{ site.title | escape }}">
	<meta property="og:image" content="{{ '/assets/me.jpg' | prepend: site.url }}">
	<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | replace: '\n',' ' | truncate: 160 }}{% else %}{{ site.description | strip_html | truncate: 160 | replace: '\n', ' ' }}{% endif %}">
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | replace: '\n',' ' | truncate: 160 }}{% else %}{{ site.description | strip_html | truncate: 160 | replace: '\n', ' ' }}{% endif %}">
	
	<meta name="robots" content="index,follow">
	<meta name="msvalidate.01" content="46E9F819E3248D073C35B716441A4A43" />
	<style type="text/css">{% capture scss %}{% include critical.scss %}{% endcapture %}{{ scss | scssify }}</style>
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
