<head profile="http://www.w3.org/2005/10/profile">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% if page.title %}{{ page.title | escape }} | {% endif %}{{ site.title | escape }}</title>
<link rel="icon" 
      type="image/png" 
      href="{{ '/assets/favicon.png' | prepend: site.url }}">
<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | replace: '\n',' ' | truncate: 160 }}{% else %}{{ site.description | strip_html | truncate: 160 | replace: '\n', ' ' }}{% endif %}">
<meta name="robots" content="index,follow">
<base href="/">
<style type="text/css">
{% capture scss %}{% include critical.scss %}{% endcapture %}{{ scss | scssify }}
</style>
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
