<div layout-padding class="posts" role="list">
{% for post in site.posts %}
{% unless post.categories contains 'partials' %}
<a href="{{post.url}}" role="listitem">
		<article>
			<header>
				<div>
				<h3> {{ post.title }} </h3>
				<time datetime="{{ post.date | date_to_xmlschema }}" pubdate>{{ post.date | date: "%-d %B %Y" }}</time>
				</div>
			</header>
			<blockquote cite="{{post.url}}"><p>{{ post.excerpt | strip_html | truncate: 160 }}</p></blockquote>
		</article>
</a>
{% endunless %}
{% endfor %}
</div>