/* GLOBAL */
a {
	text-decoration:none;
	color:$text-color;
}

.posts {
	position:relative;
	color:#333;
}

svg {
	margin:0 auto;

	rect {
		pointer-events:none;
		animation-duration: 500ms;
		animation-name: slidein;
		animation-timing-function: ease-in-out;
		-webkit-transform:translate3d(0,0,0);
		-webkit-backface-visibility: hidden;
		outline: 1px solid transparent; /* Safari rendering oddities */
}

	@keyframes slidein {
		from {
			transform:translate3d(0,30px,0);
			opacity:0;
			-webkit-transform:translate3d(0,10px,0);
		}

		to {
			transform:translate3d(0,0,0);
			opacity:1;
			-webkit-transform:translate3d(0,0,0);
		}
	}
}

.navbar {
	div {
		@include transition(all,$base-transition-time,$base-easing);
		&:hover {
			background-color:#000;
			color:#fff;
			height:200px;
		}
		p {
			font-family: 'Righteous';
		}
	}
}

.about {
	p {
		transform: rotate(0deg);
		@include transition(transform,$base-transition-time,$base-easing);
	}
	&:hover p {
		transform: rotate(180deg);
	}
}

@media (max-width:$content-width+16px) {
	.posts,.muted,.window {
		width:100%;
	}
}

.quote {
	color:#888;
	font-style:italic;
	border-left:$ribbon-height/2 solid #888;
	margin-left:5px;
	margin-bottom: 20px;
}

/* NG-VIEW */
.window {

	a {
		color:$primary-color;
	}

	&.ng-enter {
		transform: translateX(1000px);
		@include transition(all,$base-transition-time,$base-easing);
		transition-delay:$base-transition-time;
	}

	&.ng-enter-active {
		transform: translateX(0);
	}
	&.ng-leave {
		transform: translateX(0);
		@include transition(all,$base-transition-time,$base-easing);
	}

	&.ng-leave-active {
		transform: translateX(-1000px);
	}
}
