/* GLOBAL */
a {
	text-decoration:none;
	color:$text-color;
}

body {
	font-size: $base-font-size;
	line-height: $base-line-height;
	overflow-x:hidden;
}

md-content {
	background:rgba(255, 255, 255, 0.4);
	margin-bottom: 2 * $ribbon-height;
	color:#333;
	border-radius: 3px;
}

md-list-item {
	@include transition(border-left-width, $base-transition-time, linear);
	border:0 solid $primary-color;
	transition-delay: 250ms;

	&:hover {
		border-left-width:$ribbon-height;
	}
}

/* VISUALIZATION */
#srp {
	width:100%;
	height:100%;
	position:fixed;
	display: flex;
	align-items: center;
	top:0;
}

#braid {
	position: fixed;
	top:-$ribbon-height;
	right:0;
	path {
		stroke-width:5px;
		stroke-linecap:square;
	}
}

svg {
	margin:0 auto;

	rect {
		stroke:#bfd6eb;
		stroke-width:1px;
		fill:none;
		pointer-events:none;
	}
}

/* TITLE, NAV */
#title {
	font-family:'Righteous';
	width:200px;
	height:$nav-height;
	line-height:$nav-height;
	border:1px solid #000;
	text-align: center;
	margin: (2 * $ribbon-height) auto;
	@include transition(all,$base-transition-time,$base-easing);
	color:#000;
	z-index:1;
	position: relative;
}

#title:hover {
	background-color:#000;
	color:#fff;
}

#title a {
	color:#fff;
}

.posts,.muted {
	width:$content-width;
	margin-left: auto;
	margin-right: auto;
}
.quote {
	color:#888;
	font-style:italic;
	border-left:$ribbon-height solid #888;
	margin-left:5px;
}

/* NG-VIEW */
.window {
	position: relative;
	width:$content-width;
	margin-left: auto;
	margin-right: auto;
	background: rgba(255, 255, 255,0.4);

	a {
		color:$primary-color;
	}

	&.ng-enter {
		transform: translateX(1000px);
		@include transition(all,$base-transition-time,$base-easing);
	}

	&.ng-enter-active {
		transform: translateX(0);
	}
}

/* FOOTER s*/

.ribbon {
	height:$ribbon-height;
	display: flex;
	margin:0;
	position: fixed;
	top:0;
	left:0;
	right:0;

	div {
		flex:1;
		height:$ribbon-height;
	}

	.primary {
		background-color:$primary-color;
	}

	.accent {
		background-color:$accent-color;
	}

	.dark {
		background-color: $dark-accent;
	}

	.light {
		background-color: $light-accent;
	}
}