/* GLOBAL */
a {
	text-decoration:none;
	color:$text-color;
}

body {
	font-size:$base-font-size;
	line-height:$base-line-height;
	overflow-x:hidden;
}

blockquote {
	margin:0;
}

blockquote p {
	margin:0;
    color: rgba(0,0,0,0.54);
    font-size:$small-font-size;
}

article header {
	line-height: 1.15;
}

.posts {
	position:relative;
	margin-bottom: 2 * $ribbon-height;
	color:#333;
}

md-list-item {
	@include transition(border-left-width, $base-transition-time, linear);
	border:0 solid $primary-color;
	transition-delay: 250ms;

	&:hover {
		border-left-width:$ribbon-height;
	}
}

time {
	font-style: italic;
	font-size:$small-font-size;
}

/* VISUALIZATION */
#srp {
	position:fixed;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	pointer-events: none;
}

#braid {
	position: fixed;
	top:-$ribbon-height;
	right:0;
	path {
		stroke-width:5px;
	}
	g {
		transform-origin: 50% 50%;
	}
}

svg {
	margin:0 auto;

	rect {
		stroke:lighten($primary-color,50%);
		stroke-width:1px;
		fill:none;
		pointer-events:none;
		animation-duration: 500ms;
		animation-name: slidein;
		animation-timing-function: ease-in-out;
		-webkit-transform:translate3d(0,0,0);
		-webkit-backface-visibility: hidden;
		outline: 1px solid transparent; /* Safari rendering oddities */
}

	@keyframes slidein {
		from {
			transform:translate3d(0,30px,0);
			opacity:0;
			-webkit-transform:translate3d(0,10px,0);
		}

		to {
			transform:translate3d(0,0,0);
			opacity:1;
			-webkit-transform:translate3d(0,0,0);
		}
	}
}

/* TITLE, NAV */
#title {
	font-family:'Righteous';
	line-height:$nav-height;
	@include transition(all,$base-transition-time,$base-easing);
	&:hover {
		background-color:#000;
		color:#fff;
	}
}

.navbar {
	div {
		@include transition(all,$base-transition-time,$base-easing);
		&:hover {
			background-color:#000;
			color:#fff;
			height:200px;
		}
		p {
			font-family: 'Righteous';
		}
	}
}

.about {
	p {
		transform: rotate(0deg);
		@include transition(transform,$base-transition-time,$base-easing);
	}
	&:hover p {
		transform: rotate(180deg);
	}
}

@media (max-width:$content-width + 2*75px) {
	.navbar {
		display: none;
	}
	#title {
		background-color:#000;
		color:#fff;
	}
}

@media (max-width:$content-width+16px) {
	.posts,.muted,.window {
	  width:100%;
	}
}

.quote {
	color:#888;
	font-style:italic;
	border-left:$ribbon-height/2 solid #888;
	margin-left:5px;
	margin-bottom: 20px;
}

/* NG-VIEW */
.window {
	position: relative;

	a {
		color:$primary-color;
	}

	&.ng-enter {
		transform: translateX(1000px);
		@include transition(all,$base-transition-time,$base-easing);
		transition-delay:$base-transition-time;
	}

	&.ng-enter-active {
		transform: translateX(0);
	}
	&.ng-leave {
		transform: translateX(0);
		@include transition(all,$base-transition-time,$base-easing);
	}

	&.ng-leave-active {
		transform: translateX(-1000px);
	}
}
