@charset "utf-8";

$base-font-size:   1em;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$base-easing: ease-in-out;
$base-transition-time: .2s;

$text-color:       #333;
$primary-color:    #0059b3;
$accent-color:     #fd5e53;
$dark-accent:      #990000;
$light-accent:     #fff6a6;
$card-bg:          rgba(255, 255, 255, 0.7);
$nav-width:       75px;
$ribbon-height:    7px;

$content-width:    600px;

@mixin transition($attributes, $time, $function) {
	-webkit-transition: $attributes $time $function;
	-moz-transition: $attributes $time $function;
	-o-transition: $attributes $time $function;
	transition: $attributes $time $function;
}
