body {
	font-family:'Open Sans';
	background-color:#003366;
	height:100%;
	color:#fff;
	margin:0;
}

html {
	height:100%;
	width:100%;
}

h1 {
	background-color:#660000;
	box-shadow:0 0 3px rgba(0,0,0,0.5);
	padding-left:25px;
}