body {
	font-family:'Cardo';
	height:100%;
	color:#000;
	margin:0;
}

html {
	height:100%;
	width:100%;
}

.title {
	width:250px;
}

.title .main {
	text-transform:uppercase;
}

.title .sub {
	text-transform:uppercase;
}