a {
	text-decoration:none;
	color:#775500;
}

a:hover {
	color:#996600;
}
#audio {
	display:none;
}

.title a {
	transition:all .2s linear;
	text-decoration:none;
	color:#fff;
	text-shadow:0 0 3px rgba(0,0,0,0.1);
}

body {
	font-family:'Cardo';
	height:100%;
	color:#000;
	margin:0;
}

footer {
	position:fixed;
	bottom:0;
	height:60px;
	width:100%;
	border-top:1px solid #ddd;
	text-align:center;
	line-height:60px;
	color:#555;
	font-size:.75em;
	background-color:#fff;
}

html {
	height:100%;
	width:100%;
}

.hero {
	width:100%;
	height:350px;
	background-image:url("./img/goose.jpg");
	background-size:cover;
	background-position:left;
	font-size:2.5em;
	font-family:'Lato';
	padding-top:25px;
	border-bottom:1px solid rgba(255,255,255,0.8);
	background-color:#ddd;
	box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), inset 0 3px 6px rgba(0,0,0,0.23);;
}

.hero .call {
	text-align:right;
	width:300px;
	float:right;
	padding-right:50px;
	color:#fff;
	text-shadow:0 0 3px rgba(0,0,0,0.7);
}

.maincontent {
	width:960px;
	padding-left:5px;
	padding-right:5px;
	margin-bottom:50px;
	margin-left:auto;
	margin-right:auto;
	font-size:1.2em;
	position:relative;
}

.michael img {
	border:2px solid #fff;
	width:250px;
	height:250px;
	border-radius:177px;
	box-shadow:0 0 3px rgba(0,0,0,0.24);
	float:left;
}

.michael p {
	margin-left:25px;
	color:#333;
	float:left;
}

.nav {
	height:30px;
	line-height:30px;
	text-align:center;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.05), inset 0 1px 1px rgba(0,0,0,0.1);
}

@media (max-width:970px) {
	.maincontent {
		width:100%;
		padding:0;
	}
}

.title {
	width:100%;
	margin-left:auto;
	margin-right:auto;
	color:#fff;
	background-color:#333;
	text-align:center;
	-webkit-transition:all .2s linear;
	transition:all .2s linear;
}

.title a:hover {

	color:#333;
}

.title:hover {
	background-color:#fff;
}

.title .main {
	text-transform:uppercase;
	font-size:3em;
}

.title .sub {
	position:relative;
	top:-5px;
	text-transform:uppercase;
	font-size:1.2em;
}